.images img {
    height: 17vw;
    border-radius: var(--border-radius);
}

.images {
    display:flex;
    justify-content: space-between;
}

.content {
    margin: 50px 15%;
}

.content h1 {
    margin: 30px 0;
}