.menubar {
    width: 250px;
    height: CALC(100vh - var(--header-height));
    background-color: var(--header-black);
    padding: 0 45px 5px;
}

.menubar h1 {
    margin-bottom: 20px;
    padding-top: 30px;
}

.menubar ul {
    list-style-type: none;
}

.menubar a {
    text-decoration: none;
    line-height: 2.0;
}

.content{
    display: flex;
}