body {
    background: var(--black);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

#resetImg {
    height: 25vh;
}

img {
    width: 400px;
}

#resetMsg {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    width: 400px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

#msg {
    width: 400px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}
