body {
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: var(--text-white);
}

img {
    width: 20%;
    margin-bottom: 3rem;
}

input {
    width: 100%;
    margin: 0;
}

.input {
    display: flex;
    flex-direction: column;
}

small.error {
    box-sizing: border-box;
    margin: .5rem 0;
    color: var(--red);
}