/* Define the colors and settings that later can be used in the site */
:root {
    --red: #c70039;
    --white: white;
    --black: #010001;
    --green: #00c75c;
    --background: #2d2d2d;
    --header-black: #222222;
    --text-gray: #a19f9f;
    --text-white: white;
    --border-radius: 10px;
    --header-height: 100px;
    --text-error: #ff6b6b;
}

/* Reset the CSS and set the font */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Changes the color of the placeholders */
::placeholder {
    opacity: 1;
    color: var(--text-gray);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-white);
}

body {
    min-height: 100vh;
    color: var(--text-gray);
    background-color: var(--background);
}

/* The styling of the top menubar */
.header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--black);
}

.header img {
    max-height: 45px;
}

@media screen and (max-width: 705px) {
    .header {
        display: block;
        padding: 20px 0;
        height: 100%;
    }

    .header a, .header input {
        display: block;
        width: 80vw;
        margin: 0 auto 20px;
    }

    .header .logo img {
        display: block;
        margin: 0 auto;
    }
}

/* The styling of the form */
input, textarea, select {
    border: 0;
    padding: 10px 20px;
    color: var(--text-white);
    background-color: var(--background);
    border-radius: var(--border-radius);
}

select, input {
    height: 45px;
    border-radius: var(--border-radius);
}

select {
    padding: 0 10px;
}

select:focus {
    border-radius: var(--border-radius);
}

textarea {
    resize: none;
    height: 70px;
    width: 234.4px;
}

/* Changes the color of the outline when a input is selected */
input:not([type="button"]):focus, textarea:focus, select:focus {
    outline: 2px solid var(--red);
}

/* Styling for buttons */
.red-btn, .red-btn-filled, input[type=submit], input[type=button], button {
    height: 45px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    color: var(--text-gray);
    border: 3px solid var(--red);
    background-color: transparent;
    border-radius: var(--border-radius);
}

.red-btn-filled, input[type=submit] {
    color: var(--white);
    background-color: var(--red);
}

form {
    background-color: var(--black);
}

form input, form textarea, form select {
    display: block;
    margin: 20px 0;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Removes white arrows from input type number */
/* For chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

/* For firefox */
input[type=number] {
    -moz-appearance: textfield;
}

a {
    color: var(--text-white);
}

a.noLink {
    text-decoration: none;
}

.content {
    padding-top: 1px;
    height: CALC(100vh - var(--header-height));
}

.hidden {
    display: none !important;
}

/* Makes error readable */
.xdebug-error.xe-warning {
    color: black;
}

/* Makes sure the h1 and h2 blocks always begins with a capital */
h1::first-letter, h2::first-letter {
    text-transform: uppercase;
}
