video {
    display: block;
    margin: 0 auto;
    max-height: 75vh;
    width: 80vw;
}

.content {
    width: 80vw;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#start {
    height: 100px;
    cursor: pointer;
    position: absolute;
    top: CALC((100% - 100px) / 2);
    left: CALC((100% - 100px) / 2);
}

h2 {
    font-size: medium;
    margin-bottom: 15px;
    color: var(--text-gray);
}

h1::first-letter, h2::first-letter {
    text-transform: uppercase;
}

.video-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.moderation svg {
    width: 40px;
    cursor: pointer;
}

.moderation svg:hover {
    --background: white;
}

.video-player {
    position: relative;
}

@media screen and (max-width: 705px) {
    .content {
        height: 100%;
        width: 80vw;
        margin: 40px auto 0;
    }
}

@media screen and (max-height: 660px) and (orientation: landscape) {
    .content{
        height: 100%;
        padding-top: 40px;
    }
    .video{
        max-height: 100%;
    }
}